# Flask
FLASK_SECRET_KEY=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Gmail
GMAIL_EMAIL=
GMAIL_APP_PASSWORD=

# Session
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=False